.bigface{
    
  
    position:absolute;
    top:23%;
    left:20%;
    width:30%;
    height:70%;


}



.description{
    position:absolute;
    left:55%;
    top:40%;
    width:30%;
    
}

.direct{
    
    position:absolute;
    left:55%;
    top:55%;
    width:30%;
}
.why{
    
      position:absolute;
    left:55%;
    top:30%;
    width:30%;
}

.link{
    position:absolute;
    top:30%;
    left:300px;
    width:120%;
    
}


.link2{
    position:absolute;
    top:30%;
    left:300px;
    width:120%;
    
}

.link3{
    position:absolute;
    top:10%;
    left:300px;
    width:120%;
    
}














/*----------------------------------------Dont touch----------------------------------------------------*/

.st-container {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	font-family: 'Josefin Slab', 'Myriad Pro', Arial, sans-serif;
}

.st-container > input,
.st-container > a {
	position: fixed;
	bottom: 0px;
	width: 10%;
	cursor: pointer;
	font-size: 16px;
	height: 34px;
	line-height: 34px;
}

.st-container > input {
	opacity: 0;
	z-index: 1000;
}

.st-container > a {
	z-index: 10;
	font-weight: 700;
	background:MediumTurquoise;
	color: #fff;
	text-align: center;
	text-shadow: 1px 1px 1px rgba(151,24,64,0.2);
}

.st-container:before {
	content: '';
	position: fixed;
	height: 34px;
	background: teal;
	z-index: 9;
	bottom: 0;
}


/*-------------------------------------my nav----------------------------------------------------*/

#st-control-1, #st-control-1 + a {
	top:5%;
}

#st-control-2, #st-control-2 + a {
	top: 10%;
}

#st-control-3, #st-control-3 + a {
	top: 15%;
}

#st-control-4, #st-control-4 + a {
	top: 20%;
}

#st-control-5, #st-control-5 + a {
	top: 25%;
}

.st-container > input:checked + a,
.st-container > input:checked:hover + a{
	background: LightSeaGreen;
}

.st-container > input:checked + a:after,
.st-container > input:checked:hover + a:after{
	border: solid transparent;
	content: '';
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: #821134;
}

.st-container > input:hover + a{
	background: Turquoise;
}

.st-container > input:hover + a:after {
	border-bottom-color: #AD244F;
}

.st-scroll,
.st-panel {
	position: relative;
	width: 100%;
	height: 100%;
}

.st-scroll {
	top: 0;
	left: 0;
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
	
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
}

.st-panel{
	background: #fff;
	overflow: hidden;
} 
/*-------------------------------------page check in ----------------------------------------------------*/

#st-control-1:checked ~ .st-scroll {
	-webkit-transform: translateY(0%);
	-moz-transform: translateY(0%);
	-o-transform: translateY(0%);
	-ms-transform: translateY(0%);
	transform: translateY(0%);
}
#st-control-2:checked ~ .st-scroll {
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	transform: translateY(-100%);
}
#st-control-3:checked ~ .st-scroll {
	-webkit-transform: translateY(-200%);
	-moz-transform: translateY(-200%);
	-o-transform: translateY(-200%);
	-ms-transform: translateY(-200%);
	transform: translateY(-200%);
}
#st-control-4:checked ~ .st-scroll {
	-webkit-transform: translateY(-300%);
	-moz-transform: translateY(-300%);
	-o-transform: translateY(-300%);
	-ms-transform: translateY(-300%);
	transform: translateY(-300%);
}
#st-control-5:checked ~ .st-scroll {
	-webkit-transform: translateY(-400%);
	-moz-transform: translateY(-400%);
	-o-transform: translateY(-400%);
	-ms-transform: translateY(-400%);
	transform: translateY(-400%);
}


/* Content elements */
.st-panel p {
	position: absolute;
	text-align: center;
	font-size: 1.20em;
	line-height: 22px;
	color: Dimgray;
	z-index: 2;
	padding: 0;
	width: 60%;
	left: 23%;
	top: 20%;
	margin: 10px 0 0 0;
	-webkit-backface-visibility: hidden;
}

.st-panel h2 {
	color: MediumTurquoise;
	text-shadow: 1px 1px 1px rgba(151,24,64,0.2);
	position: absolute;
	font-size: 54px;
	font-weight: 900;
	width: 80%;
	left: 12%;
	text-align: center;
	line-height: 50px;
	margin: -70px 0 0 0;
	padding: 0;
	top: 20%;
	-webkit-backface-visibility: hidden;
}


/*-------------------------------------scrolling Down pages----------------------------------------------------*/

#st-control-1:checked ~ .st-scroll #st-panel-1 h2,
#st-control-2:checked ~ .st-scroll #st-panel-2 h2,
#st-control-3:checked ~ .st-scroll #st-panel-3 h2,
#st-control-4:checked ~ .st-scroll #st-panel-4 h2,
#st-control-5:checked ~ .st-scroll #st-panel-5 h2{
	-webkit-animation: moveDown 0.6s ease-in-out 0.2s backwards;
	-moz-animation: moveDown 0.6s ease-in-out 0.2s backwards;
	-o-animation: moveDown 0.6s ease-in-out 0.2s backwards;
	-ms-animation: moveDown 0.6s ease-in-out 0.2s backwards;
	animation: moveDown 0.6s ease-in-out 0.2s backwards;
}
@-webkit-keyframes moveDown{
	0% { 
		-webkit-transform: translateY(-40px); 
		opacity: 0;
	}
	100% { 
		-webkit-transform: translateY(0px);  
		opacity: 1;
	}
}

@-moz-keyframes moveDown{
	0% { 
		-moz-transform: translateY(-40px); 
		opacity: 0;
	}
	100% { 
		-moz-transform: translateY(0px);  
		opacity: 1;
	}
}

@-o-keyframes moveDown{
	0% { 
		-o-transform: translateY(-40px); 
		opacity: 0;
	}
	100% { 
		-o-transform: translateY(0px);  
		opacity: 1;
	}
}

@-ms-keyframes moveDown{
	0% { 
		-ms-transform: translateY(-40px); 
		opacity: 0;
	}
	100% { 
		-ms-transform: translateY(0px);  
		opacity: 1;
	}
}

@keyframes moveDown{
	0% { 
		transform: translateY(-40px); 
		opacity: 0;
	}
	100% { 
		transform: translateY(0px);  
		opacity: 1;
	}
}




/*-------------------------------------scrolling up pages----------------------------------------------------*/

#st-control-1:checked ~ .st-scroll #st-panel-1 p,
#st-control-2:checked ~ .st-scroll #st-panel-2 p,
#st-control-3:checked ~ .st-scroll #st-panel-3 p,
#st-control-4:checked ~ .st-scroll #st-panel-4 p,
#st-control-5:checked ~ .st-scroll #st-panel-5 p{
	-webkit-animation: moveUp 0.6s ease-in-out 0.2s backwards;
	-moz-animation: moveUp 0.6s ease-in-out 0.2s backwards;
	-o-animation: moveUp 0.6s ease-in-out 0.2s backwards;
	-ms-animation: moveUp 0.6s ease-in-out 0.2s backwards;
	animation: moveUp 0.6s ease-in-out 0.2s backwards;
}

@-webkit-keyframes moveUp{
	0% { 
		-webkit-transform: translateY(40px); 
		opacity: 0;
	}
	100% { 
		-webkit-transform: translateY(0px);  
		opacity: 1;
	}
}

@-moz-keyframes moveUp{
	0% { 
		-moz-transform: translateY(40px); 
		opacity: 0;
	}
	100% { 
		-moz-transform: translateY(0px);  
		opacity: 1;
	}
}

@-o-keyframes moveUp{
	0% { 
		-o-transform: translateY(40px); 
		opacity: 0;
	}
	100% { 
		-o-transform: translateY(0px);  
		opacity: 1;
	}
}

@-ms-keyframes moveUp{
	0% { 
		-ms-transform: translateY(40px); 
		opacity: 0;
	}
	100% { 
		-ms-transform: translateY(0px);  
		opacity: 1;
	}
}

@keyframes moveUp{
	0% { 
		transform: translateY(40px); 
		opacity: 0;
	}
	100% { 
		transform: translateY(0px);  
		opacity: 1;
	}
}
/*---------------------------------------picture animation ----------------------------------------------------*/

#st-control-2:checked ~ .st-scroll #st-panel-2 .link {
  -webkit-animation-name: moveleft;
  -webkit-animation-duration: 1100ms;
  -webkit-animation-delay: 60ms;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: alternate;
  -webkit-transform-origin: 0 0;
  animation-name: moveleft;
  animation-duration: 1100ms;
  animation-delay: 0ms;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-iteration-count: alternate;
  transform-origin: 0 0;
}
@-webkit-keyframes moveleft {
  0% {-webkit-transform:translateX(-1000px) translateY(150px) rotate(0deg) translate(-50%, -50%);-webkit-animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
  100% {-webkit-transform:translateX(780px) translateY(150px) rotate(0deg) translate(-50%, -50%);}
}


#st-control-3:checked ~ .st-scroll #st-panel-3 .link2 {
-webkit-animation-name: fromright;
  -webkit-animation-duration: 900ms;
  -webkit-animation-delay: 40ms;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: alternate;
  -webkit-transform-origin: 0 0;
  animation-name: fromright;
  animation-duration: 1100ms;
  animation-delay: 40ms;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-iteration-count: alternate;
  transform-origin: 0 0;
}
@-webkit-keyframes fromright {
  0% {-webkit-transform:translateX(1000px) translateY(150px) rotate(0deg) translate(-50%, -50%);-webkit-animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
  100% {-webkit-transform:translateX(780px) translateY(150px) rotate(0deg) translate(-50%, -50%);}
}



#st-control-4:checked ~ .st-scroll #st-panel-4 .link3 {
  -webkit-animation-name: moveleft;
  -webkit-animation-duration: 1100ms;
  -webkit-animation-delay: 80ms;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: alternate;
  -webkit-transform-origin: 0 0;
  animation-name: moveleft;
  animation-duration: 1100ms;
  animation-delay: 60ms;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-iteration-count: alternate;
  transform-origin: 0 0;
}
@-webkit-keyframes moveleft {
  0% {-webkit-transform:translateX(-1000px) translateY(150px) rotate(0deg) translate(-50%, -50%);-webkit-animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
  100% {-webkit-transform:translateX(760px) translateY(150px) rotate(0deg) translate(-50%, -50%);}
}


/*-----------------------------------------pic animation end ----------------------------------------------------*/

.st-color,
.st-deco{
	background: #DCF8EE;
}


.st-color h2 {
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
} 
.st-color p {
	color:Dimgray;
}




/*----------------------------------------responsive pages----------------------------------------------------*/


@media screen and (max-width: 520px) {
	.st-panel h2 {
		font-size: 42px;
	}
	
	.st-panel p {
		width: 90%;
		left: 5%;
		margin-top: 0;
	}
	
	.st-container > a {
		font-size: 13px;
	}
}
@media screen and (max-width: 360px) {
	.st-container > a {
		font-size: 10px;
	}
	
	.st-deco{
		width: 120px;
		height: 120px;
		margin-left: -60px;
	}
	
	[data-icon]:after {
		font-size: 60px;
		-webkit-transform: rotate(-45deg) translateY(15%);
		-moz-transform: rotate(-45deg) translateY(15%);
		-o-transform: rotate(-45deg) translateY(15%);
		-ms-transform: rotate(-45deg) translateY(15%);
		transform: rotate(-45deg) translateY(15%);
	}
}