* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 62.5%;
	background: url(images/stripe.png) repeat;
}

#page-wrap {
	width: 600px;
	margin: 0 auto;
	padding: 20px;
	background: white;
	min-height: 800px;
	height: auto !important;
	height: 800px;
}

a {
	color: #999;
	text-decoration: none;
	font-size: 1.5em;
	outline: none;
}

a:hover {
	color: #990000;
	font-weight: bold;
}

em {
	font-style: normal;
}

ul {
		list-style: none;
		margin-top: 30px;
	}
	ul li {
		float: left;
	}
	ul li a {
		width: 100px;
		height: 100px;
		display: block;
	}
	ul li a em {
		position: relative;
	}
	
	ul li#red a {
		background: url(images/red.gif) bottom center no-repeat;
	}
	ul li#red a:hover {
		background-position: top center;
	}
	ul li#red a em {
		top: 150px;
	}
	
	ul li#yellow a {
		background: url(images/yellow.gif) bottom center no-repeat;
	}
	ul li#yellow a:hover {
		background-position: top center;
	}
	ul li#yellow a em {
		top: 180px;
		left: -100px;
	}
	
	ul li#orange a {
		background: url(images/orange.gif) bottom center no-repeat;
	}
	ul li#orange a:hover {
		background-position: top center;
	}
	ul li#orange a em {
		top: 210px;
		left: -200px;
	}
	
	ul li#green a {
		background: url(images/green.gif) bottom center no-repeat;
	}
	ul li#green a:hover {
		background-position: top center;
	}
	ul li#green a em {
		top: 240px;
		left: -300px;
	}
	
	ul li#blue a {
		background: url(images/blue.gif) bottom center no-repeat;
	}
	ul li#blue a:hover {
		background-position: top center;
	}
	ul li#blue a em {
		top: 270px;
		left: -400px;
	}