
a {
	color: DimGray;
	text-decoration: none;
	font-size: 1.5em;
	outline: none;
}

a:hover {
	color: #990000;
	font-weight: bold;
}

em {
	font-style: normal;
}

ul {    position:absolute;
		list-style: none;
		margin-top: 300px;
		left:470px;
	}
	ul li {
		float: left;
			
	}
	ul li a {
		width: 190px;
		height: 100px;
		display: block;

	}
	ul li a em {
	    
	    margin-left:50px;
        float:left;
       
	}
	
	ul li#red a {
		background: url(images/red.gif) bottom center no-repeat;

	}
	ul li#red a:hover {
		background-position: top center;
	}
	ul li#red a em {
	    position:absolute;
		top: 150px;
		left: 10px;
			}
	



	
	ul li#orange a {
		background: url(images/orange.gif) bottom center no-repeat;
	}
	ul li#orange a:hover {
		background-position: top center;
	}
	ul li#orange a em {
	    position:absolute;
		top: 150px;
		left: 200px;
	}
	
	
	
	
	
	ul li#green a {
		background: url(images/green.gif) bottom center no-repeat;
	}
	ul li#green a:hover {
		background-position: top center;
	}
	ul li#green a em {
		position:absolute;
		top: 150px;
		left: 370px;
	}
	
	
	