/*
	RESET & BASIC SETUP
*/

* {
	margin: 0; 
	padding: 0; 
}

body { 
	font-size: 62.5%; 
	font-family: 'Lucida Grande', Helvetica, sans-serif;
	color: #999; 
}

tr { 
	vertical-align: top;
}

/*
	STRUCTURE
*/
.post { 
    	width:930px; height:790px; padding-right: 620px; top:-30px;left:-30px;

}

h4{
    
    font-size:3em;
}

p, ul{
    font-size:1.50em;
}

/*-----------------------------------------HOME PAGE----------------------------------------------------*/



#home{
    
    background:#DCF8EE;
    position:relative;
}

.logo{
    
    position:absolute;
    top:250px;
    width:30%;
    left:650px;
}

.info{
    font-family:Helvetica;
    position:absolute;
    top:535px;
    left:675px;
    width:100%;
}





.bigface{
    
    position:absolute;
    left:7%;
    width:30%;
}


/*-----------------------------------------CHOOSE TYPE PAGE----------------------------------------------------*/

#choosetype{
    
        background:white;
       color: DimGray;
       position:relative;

    
}

.choose_type{
    
    font-size:3em;
    letter-spacing:-1px;
    position:absolute;
    width:100%;
    top:200px;
    left:500px;
    
    }


/*--------------animate 1 PAGE----------------------------*/

#animate1 {
    
    position:relative;
    background:wheat;
    width:970px;
}


/*--------------choose age recipe PAGE----------------------------*/

#aging{
            background:#DCF8EE;
            position:relative;
            top:-30px;
            left:-63px;
             width:970px;


}

/*--------------aging recipe1 PAGE----------------------------*/

#agingmask1 {
    
    position:relative;
}



/*--------------aging recipe2 PAGE----------------------------*/



#agingmask2{
    
    position:relative;
}





/*--------------aging recipe3 PAGE----------------------------*/

#agingmask3{
    
    position:relative;
}












/*--------------aging recipe4 PAGE----------------------------*/

#agingmask4{
    position:relative;
}











/*-----------------------------------------brighted----------------------------------------------------*/


#brighten {
    
    position:relative;
}





/*--------------bright 1----------------------------*/


#brighten1 {
    
    position:relative;
}



/*--------------bright 2----------------------------*/



#brighten2 {
    
    position:relative;
}






/*--------------bright 3----------------------------*/


#brighten3 {
    
    position:relative;
}






/*--------------bright 4----------------------------*/

#brighten4 {
    
    position:relative;
}












