

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




/*-----------------------------------start--------------------*/

body{
	width:960px;
	margin:0 auto;


} 

#site-wrapper{
    float:left;
    width:100%;
    height:150px;
    background:#EEFADF;
    
    
}

#site-header {
    float:left;
    width:300px;
    font-size:20px;
   
    
    
}


/*---- log in - contact ---------*/

#top-nav{ 
    
   font-size:15px;
   float:right;
   margin-right:-650px;
   margin-top:0px;
  
   

}
   

/*-------------- shop about us newproducts contact links ---------------------*/

#main-menu{

    float:left;
    width:960px;
    background-color:#8B4513;
    text-align:center;
    margin: 0px auto 20px auto;
    border:20px;
}

#main-menu a{
    text-transform:uppercase;
    text-decoration:none;
    color:white;
    font-size:80%;
    padding:3px;
    

    
}

#main-menu li{
    
    float:left;
    margin:5px 0px 5px 20px;
    
}



/*--------------------------------clearfix----------------------------------------------*/

#page h1 {
    
    width:500px;
    color:#8B4513;
    border:5px;
    font-size:300%;
    margin-bottom:10px;
    font-style:italic;
    padding:5px;
    
}

#page h2{
    
    float:left;
    width:960px;
    font-size:140%;
    padding:5px;
    margin-bottom:10px;
    margin-top:10px;
}


#page p 1{
    
    float:left;
    width:20%
}


#sidebar h1{
    float:right;
    
    
}
/*--------------------------------clearfix----------------------------------------------*/

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
	}

.clearfix { display: inline-block; }
  html[xmlns] .clearfix { display: block; }
  * html .clearfix { height: 1%; }
